node_modules
dist
dist-ssr
coverage
.idea
.DS_Store
*.local
*.log

# Ignore the public/rag/ directory. Use "rag:publish" to copy from .opensona/output/rag/ to public/rag/. This is done "prebuild" and "predev"
public/rag/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
